In [85]:
import pandas as pd
import numpy as np 
from sklearn.datasets import load_iris

In [86]:
iris = load_iris()
iris_df = pd.DataFrame(data=iris['data'], columns=iris['feature_names'])

In [87]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
sepal length (cm)    150 non-null float64
sepal width (cm)     150 non-null float64
petal length (cm)    150 non-null float64
petal width (cm)     150 non-null float64
dtypes: float64(4)
memory usage: 4.8 KB

In [89]:
df_a = pd.read_csv('Data/data_CSV.csv')
df.head()

   number Country or area   Color  Adolescent fertility rate
0       1     Afghanistan     red                       99.6
1       2         Albania  yellow                       14.9
2       3         Algeria    blue                        6.1
3       4  American Samoa   green                       54.0
4       5         Andorra    pink                        0.0

In [103]:
df_b = pd.read_csv('Data/data_CSV2.csv')
df.tail()

     number            Country or area   Color  Adolescent fertility rate
212     213  Wallis and Futuna Islands    blue                        9.0
213     214             Western Sahara   green                       16.1
214     215                      Yemen    pink                       66.1
215     216                     Zambia     red                      138.5
216     217                   Zimbabwe  yellow                       53.4

In [73]:
df_b.shape

(191, 4)

In [74]:
df_b_color = df_b[df_b["Color"] == "yellow"]
df_b_color.head()
df_b.shape

(191, 4)

In [75]:
>>> inner_merged = pd.merge(df_b_color,df_b)
>>> inner_merged.head()

   Row_number         Country or area   Color  Adolescent fertility rate
0           2                 Albania  yellow                       14.9
1           7                Anguilla  yellow                        0.0
2          42  China, Hong Kong SAR 5  yellow                        4.2
3          47            Cook Islands  yellow                       62.0
4          52                Cyprus 7  yellow                        5.5

In [76]:
inner_merged.shape

(48, 4)

In [77]:
>>> inner_merged = pd.merge(df_b_color, df_b ,on=[ "Row_number"])
>>> inner_merged.head()

,Row_number,Country or area_x,Color_x,Adolescent fertility rate_x,Country or area_y,Color_y,Adolescent fertility rate_y
0,2,Albania,yellow,14.9,Albania,yellow,14.9
1,7,Anguilla,yellow,0.0,Anguilla,yellow,0.0
2,42,"China, Hong Kong SAR 5",yellow,4.2,"China, Hong Kong SAR 5",yellow,4.2
3,47,Cook Islands,yellow,62.0,Cook Islands,yellow,62.0
4,52,Cyprus 7,yellow,5.5,Cyprus 7,yellow,5.5

In [78]:
>>> inner_merged = pd.merge(df_b_color, df_b ,on=[ "Row_number"])
>>> inner_merged.head()

,Row_number,Country or area_x,Color_x,Adolescent fertility rate_x,Country or area_y,Color_y,Adolescent fertility rate_y
0,2,Albania,yellow,14.9,Albania,yellow,14.9
1,7,Anguilla,yellow,0.0,Anguilla,yellow,0.0
2,42,"China, Hong Kong SAR 5",yellow,4.2,"China, Hong Kong SAR 5",yellow,4.2
3,47,Cook Islands,yellow,62.0,Cook Islands,yellow,62.0
4,52,Cyprus 7,yellow,5.5,Cyprus 7,yellow,5.5

In [79]:
inner_merged.shape

(48, 7)

In [80]:
>>> full_merged = pd.merge(df_b_color, df_b ,how="outer",on=[ "Row_number"])
>>> full_merged.head()

,Row_number,Country or area_x,Color_x,Adolescent fertility rate_x,Country or area_y,Color_y,Adolescent fertility rate_y
0,2,Albania,yellow,14.9,Albania,yellow,14.9
1,7,Anguilla,yellow,0.0,Anguilla,yellow,0.0
2,42,"China, Hong Kong SAR 5",yellow,4.2,"China, Hong Kong SAR 5",yellow,4.2
3,47,Cook Islands,yellow,62.0,Cook Islands,yellow,62.0
4,52,Cyprus 7,yellow,5.5,Cyprus 7,yellow,5.5

In [81]:
full_merged.shape

(191, 7)

In [96]:
left_merged = pd.merge(df_a, df_b , how="left", on=[ "Row_number"])
left_merged.head()

,Row_number,Country or area_x,Year,Unnamed: 3,Adolescent fertility rate_x,Unnamed: 5,Unnamed: 6,Total fertility rate,Unnamed: 8,Country or area_y,Color,Adolescent fertility rate_y
0,1,Afghanistan,2010-2015,NaN,99.6,NaN,NaN,5.97,NaN,Afghanistan,red,99.6
1,2,Albania,2010-2015,NaN,14.9,NaN,NaN,1.53,NaN,Albania,yellow,14.9
2,3,Algeria,2010-2015,NaN,6.1,NaN,NaN,2.14,NaN,Algeria,blue,6.1
3,4,American Samoa,2000,*,54,NaN,NaN,3.96,NaN,American Samoa,green,54.0
4,5,Andorra,2009,**,…,NaN,NaN,1.23,NaN,Andorra,pink,0.0

In [98]:
left_merged.shape

(217, 12)

In [99]:
left_merged.tail()

,Row_number,Country or area_x,Year,Unnamed: 3,Adolescent fertility rate_x,Unnamed: 5,Unnamed: 6,Total fertility rate,Unnamed: 8,Country or area_y,Color,Adolescent fertility rate_y
212,213,Wallis and Futuna Islands,2008,*,9,NaN,NaN,2.00,NaN,Wallis and Futuna Islands,blue,9.0
213,214,Western Sahara,2010-2015,NaN,16.1,NaN,NaN,2.45,NaN,Western Sahara,green,16.1
214,215,Yemen,2010-2015,NaN,66.1,NaN,NaN,4.94,NaN,Yemen,pink,66.1
215,216,Zambia,2010-2015,NaN,138.5,NaN,NaN,6.30,NaN,Zambia,red,138.5
216,217,Zimbabwe,2010-2015,NaN,53.4,NaN,NaN,3.11,NaN,Zimbabwe,yellow,53.4

In [102]:
df_b.tail()

     Row_number Country or area   Color  Adolescent fertility rate
186         215           Yemen    pink                       66.1
187         216          Zambia     red                      138.5
188         217        Zimbabwe  yellow                       53.4
189         777        Anguilla  yellow                        0.0
190         557        Anguilla  yellow                        0.0

In [104]:
right_merged = pd.merge(df_a, df_b , how="right", on=[ "Row_number"])
right_merged.head()

,Row_number,Country or area_x,Year,Unnamed: 3,Adolescent fertility rate_x,Unnamed: 5,Unnamed: 6,Total fertility rate,Unnamed: 8,Country or area_y,Color,Adolescent fertility rate_y
0,1,Afghanistan,2010-2015,NaN,99.6,NaN,NaN,5.97,NaN,Afghanistan,red,99.6
1,2,Albania,2010-2015,NaN,14.9,NaN,NaN,1.53,NaN,Albania,yellow,14.9
2,3,Algeria,2010-2015,NaN,6.1,NaN,NaN,2.14,NaN,Algeria,blue,6.1
3,4,American Samoa,2000,*,54,NaN,NaN,3.96,NaN,American Samoa,green,54.0
4,5,Andorra,2009,**,…,NaN,NaN,1.23,NaN,Andorra,pink,0.0

In [105]:
right_merged.shape

(191, 12)